@import url("https://fonts.googleapis.com/css?family=Viga|Lato|Roboto&display=swap");


body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #161a1e;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img{
  height: 1.8rem;
  width: 50px;
  height: 50px;
}

navbar-nav li {
  padding-right: 3rem;
  font-family: 'Roboto', sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: blue;
}
#append {
  background-color: rgb(12, 64, 167);
  color: white;
}
.home-inner {
  background-image: url(../images/back3.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem, 0.1rem, 0.8rem black;
  animation: fadeUp;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem, 0.1rem, 0.5rem black;
  padding-bottom: 1.6rem;
  animation: fadeUp;
}
.btn-lg {
  border-width: medium;
  border: 2px solid blue;
  border-radius: 3px;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}
#get-started2{
  background-color: white;
  color: rgb(12, 64, 167);
}
#get-started:hover {
  color: rgb(12, 64, 167);
}
#get-started2:hover {
  background-color: rgb(12, 64, 167);
  color: white;
}

#features i {
  color: rgb(12, 64, 167);
}

.narrow {
  width: 100%;
  margin: 1.5rem;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
#learn {
  border-width: medium;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: rgb(12, 64, 167);
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: rgb(6, 37, 98);
}

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
#skills p{
  margin-right: 0.5rem;
}

#skills a:visited{
  color: rgb(12, 64, 167);
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: rgb(12, 64, 167);
  margin: 0 auto 2rem;
}
.fixed-background .heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: white;
  margin: 0 auto 2rem;
}
#contact {
  color: white;
}
#lll {
  border-width: medium;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: rgb(12, 64, 167);
  text-decoration: none;

}

#earn {
  padding-bottom: 30px;
}
#er {
  width: 200px;
  height: 110px;
  margin-left: 10px;
  border-radius: 50px;
}
#what{
  margin-top: 3rem;
}
#ew {
  width: 200px;
  margin-left: 10px;
  border-radius: 50px;
}
#er:hover{
  opacity: 0.8;
}
#ew:hover{
  opacity: 0.8;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.feature p{
    font-size: 1.1rem;
    color: white;
}

.fixed-background{
  background-color: rgb(12, 64, 167);
  color: white;
  
}

.fixed-background h3{
    margin-bottom: 2rem;
}

.fixed-background p{
    margin-top: 1.5rem;
}

footer i{
  color: white;
  padding: 1.5rem;
}

footer i:hover{
  color:  rgb(12, 64, 167);

}
footer img{
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
hr{
  color: white;
}

/*media width*/
@media only screen and (max-width: 600px){
  .caption h1 {
    font-size: 2.5rem;

  }
  .caption h3 {
    font-size: 1.5rem;

  }
  .btn-lg {

    font-size: 0.7rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  .narrow p {
    font-size:1.0rem
  }
  #learn {
    font-size: 1.0rem;
    padding: 0.4rem 1.0rem;
    margin: 0.7rem;

  }
  #skills h3{
    margin-top: 2rem;
  
  }
 
 blockquote{
   margin-left: 10px;
   text-align: justify;
 }
 #clients .heading{
   font-size: 1.5rem;
 }
 footer i{
  padding: 1rem;
}
#resources .heading{
  font-size: 1.5rem;
}
 
#resources h3{
  font-size: 1.2rem;
}
 
#resources p{
  font-size: 1.0rem;
}
footer img{
  height: 40px;
  width: 40px;
}
 
 

}
@media only screen and (min-width: 600px){
  .caption h1 {
    font-size: 3rem;

  }
  .caption h3 {
    font-size: 1.8rem;

  }
  .btn-lg {

    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2rem;
  }
  .narrow p {
    font-size:1.2rem
  }
  #learn {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 0.9rem;

  }
 
 blockquote{
   margin-left: 15px;
   text-align: justify;
 }
 #clients .heading{
   font-size: 1.8rem;
 }
 footer i{
  padding: 1rem;
}
#resources .heading{
  font-size: 1.8rem;
}
 
#resources h3{
  font-size: 1.5rem;
}
 
#resources p{
  font-size: 1.2rem;
}
 
}
